@media screen and (min-width: 0) and (max-width: 863px){
    .caja-texto-botones{
        padding: 50px 20px;
        background-color: #ffffff;
        text-align: center;
    }
    h3.titulo-parecido-h1 {
        font-weight: 500;
        text-align: center;
        line-height: 1.1625;
        letter-spacing: -1.5px;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .caja-texto-botones__boton1 {
        color: #ffffff;
        background-color: #611f69;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px;
        cursor: pointer;
        border-radius: 4px;
        padding-bottom: 1px;    
        margin-bottom: 20px;
    }
    .caja-texto-botones__boton1 p{
        font-size: 14px;
    }
    .caja-texto-botones__boton2 {
        color: #611f69;
        background-color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px;
        cursor: pointer;
        border-radius: 4px;
        padding-bottom: 1px;
        margin-bottom: 10px;
        border: 1px solid #611f69;
    }
    .caja-texto-botones__boton2 p{
        font-size: 14px;
    }
    .porcentajes-texto {
        padding: 20px 94px;
        text-align: center;
    }
    .porcentaje {
        font-weight: 600;
        font-size: 3rem;
        color: #611f69;
        margin-bottom: 4px;
    }
    .porcentajes-texto__pequeno{
        font-size: 0.8rem;
    }
    .cita__txt {
        padding: 10px 22px;
    }
    .cita__cursiva{
        font-style: italic;
        font-weight: 300;
        font-size: 1.10rem;
    }
    p.cita__persona {
        font-size: 0.9rem;
        font-weight: bold;
        margin-bottom:0;
    }
    .cita__txt  a{
        font-size: 1rem;
        text-decoration: none;
        color: #1264a3;
        cursor: pointer;
    }
    .cita__txt  a::after{
        content: " →";
    }
    .texto-legal{
        padding: 40px 15px 20px 15px;
    }
    .texto-legal p{
        font-size: 0.75rem;
        color: #696969;
        text-align: center;
    }
    .cajita{
        display: flex;
        background-color: #F4EDE4;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 54px 14px 0 14px;
    }
    .cajita h3 {
        font-weight: 600;
        font-size: 1.3rem;
    }
    .cajita__ficha {
        background-color: #ffffff;
        padding: 15px;
        margin: 20px 42px 40px 35px;
        box-shadow: 2px 4px 19px #0000002b;
        text-align: left;
    }
    .cajita__ficha img{
        width: 100%;
    }
    .cajita__ficha > p:nth-child(4){
        margin-top: 37px;
        margin-bottom: 0;
    }
    .texto-pequeno{
        font-size: 0.9rem;
        margin-top: 20px;
        color: #454245;
    }
    .cajita__ficha p:nth-child(3){
        font-weight: 600;
        font-size: 1.3rem;
    }
    .cajita__ficha a{
        font-size: 1rem;
        text-decoration: none;
        color: #1264a3;
        cursor: pointer;
        font-weight: 500;
    }
    .cajita__ficha a::after{
        content: " →";
        position: absolute;
        left: 278px;
        font-size: 1.7rem;
        margin-top: -6px;
    }
    .cajita__circulitos{
        display: flex;
        gap: 20px;
        margin-bottom: 30px;
    }
    .circulo1{
        width:15px;
        height: 15px;
        border-radius:100%;
        background-color: #611f69;
    }
    .circulo2{
        width:15px;
        height: 15px;
        border-radius:100%;
        background-color: #69696979;
    }
   
}