.bloque-elipse {
    background: #611f69;
    border: none;
    clip-path: ellipse(75% 100% at center top);
    height: auto;
    min-height: 350px;
}

@media screen and (min-width: 0) and (max-width: 863px) {
    .bloque-elipse{
        background-color: #611f69;
        padding: 20px 14px;
        text-align: center;
        clip-path: ellipse(105% 100% at center top);
        padding-bottom: 1rem !important;
    }
    .bloque-elipse h3{
        color: #ffffff;
        font-weight: 500;
        line-height: 1.158;
        letter-spacing: -0.8px;
        font-size: 1.6rem;
        margin-top: 35px;
    }
    .botones-footer{
        display: flex;
        margin-top: 35px;
        flex-direction: column;
    }
    .boton-footer1{
        color: #611f69;
        background-color:#ffffff ;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px;
        cursor: pointer;
        border-radius: 4px;
        padding-bottom: 1px;
        margin-bottom: 20px;
    }
    .boton-footer2{
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px;
        cursor: pointer;
        border-radius: 4px;
        padding-bottom: 1px;
        margin-bottom: 20px;
        border: 1px solid #ffffff;
    }
    .links-interes{
        margin-top: 35px;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .links-interes img{
        width: 58px;
    }
    .links-interes__lista ul{
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.8rem;
    }
    .links-interes__lista li::after{
        content: " >";
        left: 360px;
        position: absolute;
        font-size: 1.2rem;
    }
    .links-rrss {
        padding: 20px 15px;
    }
    .links-rrss__linea {
        width: 100%;
        border-top: 1.5px solid #d2cfcf;
        margin-bottom: 25px;
    }
    .links-rrss__lista{
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-weight: 500;
        font-size: 0.8rem;
    }
    .links-rrss__lista img{
        width: 20px;
    }
    div.links-rrss > ul > li:nth-child(6){
        display: flex;
        align-items: center;
        gap: 5px;
    }
    div.links-rrss > ul > li:nth-child(6)::after{
        content: "ˇ";
        font-size: 21px;
        position: absolute;
        left: 170px;
        margin-top: 13px;
    }
    div.links-rrss > ul > li:nth-child(7){
        display: flex;
        align-items: center;
        gap: 5px;
        color:#1264a3;
    }
}