

//Reset
@import "../base/reset";

//Mixins
@import "../assets/mixins";

//Estilos de bloques
@import "../block/_header";
@import "../block/boque1";
@import "../block/bloqueimagen";
@import "../block/boque3";
@import "../block/bloquevideo";
@import "../block/footer";


//Estilos universales

body{
    font-family: 'Poppins', sans-serif;
}

p{
    font-weight: 400;
    font-size: 1.025rem;
    line-height: 1.5444;
    letter-spacing: normal;
    margin-bottom: 1rem;
}